
<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    photoCover="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Velkoz_0.jpg"
    cardTitle="O OLHO DO VAZIO VEL'KOZ"
    cardDescription="Não é claro se Vel'Koz foi a primeira criatura do Vazio a aparecer em Runeterra, mas certamente nunca houve outra que se igualasse ao seu nível de compreensão cruel e calculista. Enquanto sua raça devora ou perverte tudo ao seu redor, ele busca, em vez disso, examinar e estudar o domínio físico, assim como os estranhos seres guerreiros que habitam nele, por quaisquer fraquezas que o Vazio possa explorar. Mas Vel'Koz está longe de ser um observador passivo e é capaz de atacar ameaças com plasma mortal ou desfazer o próprio tecido do mundo."
    ></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
    cardTitle="VEL'KOZ MÁQUINA DE COMBATE"
    photoCover="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Velkoz_1.jpg"
    ></app-small-card>
    <app-small-card
    cardTitle="VEL'KOZ ARCO CELESTE"
    photoCover="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Velkoz_2.jpg"
    ></app-small-card>
    <app-small-card
    cardTitle="CERTAMENTE NÃO É O VEL'KOZ"
    photoCover="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Velkoz_3.jpg"
    ></app-small-card>
  </div>
</div>
